/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * AbandonAllArtichokes implementation : © Thomas Klausner <tk@giga.or.at> & Roja Maschajekhi <roja@roja.co.at>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * abandonallartichokes.css
 *
 * AbandonAllArtichokes stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (abandonallartichokes_abandonallartichokes.tpl), and to HTML elements you create dynamically
    (in abandonallartichokes.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

:root {
    --garden: #3bc83b;
    --cardBack: 172, 203, 70;
}

/***** GENERAL LAYOUT ****/
#table {
    padding: 1em;
}

#table > div {
    margin-bottom: 1em;
}

.artichoke_cardmin {
    min-width: 140px;
}

.artichoke_deck_space_right {
    margin-right: 20px;
}

.artichoke_flex_away {
    display: flex;
    justify-content: space-between;
}

.artichoke_flex_center {
    display: flex;
    justify-content: center;
}

.artichoke_flex_column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.artichoke_hidden {
    display: none;
}

.artichoke_label {
    margin-right: 5px;
}

.artichoke_label_line {
    display: flex;
    align-items: center;
}

.artichoke_space_right {
    margin-right: 40px;
}

#played_card {
    filter: grayscale(100%);
}

#garden_area {
    background-color: var(--garden);
    /* stock adds 5 padding to bottom */
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    /* 5 * card-width + 4 * 5 (margin) */
    /* for width 100px */
    /* width: 520px; */
    /* for width 110px */
    /* width: 570px; */
    /* for width 140px */
    width: 720px;
    /* for width 150px: */
    /* max-width: 770px; */
}

#garden_stack_counter {
    background-color: var(--garden);
    margin-bottom: 5px;
    border-radius: 20px;
    //border: 1px solid black;
    padding: 10px;
}

/***** PLAYER PANEL ****/
.artichoke_deck_board {
    display: flex;
    justify-content: space-around;
}

/***** CUSTOM CARD DESIGN ****/
.artichoke_card {
    border-radius: 10px;
    border: 1px solid black;
    /* this should be contain, but in Safari, the image is positioned in
     * the upper border and ends up with a white line at the bottom */
    /* background-size: contain; */
    background-size: cover;
    box-sizing: border-box;
}

.artichoke_icon {
    height: 2em;
}

/* here we want to override BGA's defaults */
.stockitem_selected {
    top: -25px !important;
}

